{% load static %}
<!-- BOTÓN FLOTANTE DE WHATSAPP -->
<a href="https://wa.me/+573217618510?text=Hola%20Kalyzo%2C%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20productos." 
   class="whatsapp-float" 
   target="_blank">
    <i class="bi bi-whatsapp"></i>
</a>

<style>
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    z-index: 999;
    transition: transform 0.2s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}
</style>
