{% load moneda %}
{% load math_filters %}

{% for producto in productos %}
<div class="col-6 col-md-4 col-lg-3 mb-4">

    <a href="{% url 'product_detail' slug=producto.slug id=producto.id %}"
       class="text-decoration-none text-dark">

        <div class="card product-card shadow-sm border-0 position-relative">

            <!-- 🔥 ETIQUETA DESCUENTO -->
            {% if producto.discount_price %}
                {% with porcentaje=producto.discount_price|div:producto.price %}
                <span class="badge-discount">
                    -{{ porcentaje|floatformat:0 }}% Descuento
                </span>
                {% endwith %}
            {% endif %}

            <!-- IMG -->
            <div class="img-container">
                <img src="{{ producto.images.first.image_url }}"
                     class="card-img-top img-fluid p-3"
                     alt="{{ producto.name }}">
            </div>

            <!-- CONTENIDO -->
            <div class="card-body content-area">
                <h6 class="card-title fw-bold">{{ producto.name }}</h6>

                <small class="text-muted">
                    {{ producto.description|truncatechars:60 }}
                </small>
            </div>

            <!-- 🔥 PRECIOS -->
            <div class="card-footer bg-white border-0 d-flex align-items-center justify-content-between mt-auto footer-area">

                {% if producto.discount_price %}
                    <div>
                        <span class="text-primary fw-bold d-block">
                            {{ producto.discount_price|cop }}
                        </span>

                        <small class="text-muted text-decoration-line-through" style="color: brown !important;">
                            {{ producto.price|cop }}
                        </small>
                    </div>

                {% else %}
                    <p class="text-primary fw-bold mb-0">
                        {{ producto.price|cop }}
                    </p>
                {% endif %}

                <a href="#"><i class="bi bi-bag-plus fs-4 text-primary"></i></a>

            </div>

        </div>
    </a>

</div>

{% empty %}
<div class="col-12">
    <div class="alert alert-warning text-center py-4 shadow-sm">
        <i class="bi bi-exclamation-circle me-2"></i>
        No hay productos disponibles.
    </div>
</div>

{% endfor %}
