{% load static %}


<div class="category-scroll my-4 ">


    {% for categoria in categorias %}
        <div class="category-col">

            <a href="{% url 'category_products' categoria.slug %}"
               class="category-card text-decoration-none">

                <div class="category-card-inner text-center">

                    {% if categoria.imagen_category %}
                        <img src="{{ categoria.imagen_category.url }}"
                             alt="{{ categoria.name }}"
                             class="category-card-img">
                    {% else %}
                        <img src="{% static 'img/no-image.png' %}"
                             alt="Sin imagen"
                             class="category-card-img">
                    {% endif %}

                    <!-- OVERLAY -->
                    <div class="category-card-overlay"></div>

                    <!-- TEXTO -->
                    <div class="category-card-content">
                        <h6 class="mb-0 fw-bold fs-4">{{ categoria.name }}</h6>

                        {% if categoria.total_products >= 1 %}
                            <h2 class="mb-0">{{ categoria.total_products }}</h2>
                            <small>productos</small>
                        {% endif %}
                    </div>

                </div>
            </a>
        </div>

    {% empty %}
        <p class="text-muted">No hay categorías disponibles.</p>
    {% endfor %}
</div>


