{% load static %}

<div class="categories-wrapper">
    <h5 class="section-title">Categorías</h5>

    <div class="categories-grid">
        {% for categoria in categorias %}
       <a href="{% url 'category_products' categoria.slug %}"
   class="category-card">

    
    <div class="category-image-wrapper">
        {% if categoria.imagen_category %}
            <img src="{{ categoria.imagen_category.url }}"
                 alt="{{ categoria.name }}"
                 class="category-card-img">
        {% else %}
            <img src="{% static 'images/no-image.png' %}"
                 alt="Sin imagen"
                 class="category-card-img">
        {% endif %}
    </div>

    <div class="category-name">
        {{ categoria.name }}
    </div>
     <span class="category-count">
        {{ categoria.products.count }}
    </span>


</a>

        {% empty %}
            <p class="text-muted">No hay categorías disponibles.</p>
        {% endfor %}
    </div>
</div>
