<footer class="bg-primary text-light pt-5 pb-3 ">

  <div class="container">
    <div class="row">

      <!-- Logo + descripción -->
      <div class="col-md-4 mb-4">
        <h4 class="fw-bold">Kalyzo Shop</h4>
        <p class="small">
          Tu tienda confiable con los mejores precios y envíos a todo el país.
        </p>
      </div>

      <!-- Enlaces -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Sobre nosotros</a></li>
          <li><a href="#" class="text-light text-decoration-none">Tienda</a></li>
          <li><a href="#" class="text-light text-decoration-none">Ofertas</a></li>
          <li><a href="#" class="text-light text-decoration-none">Contacto</a></li>
        </ul>
      </div>

      <!-- Redes sociales -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Síguenos</h5>
        <div class="d-flex gap-3 fs-4">
            <a href="#" class="text-light"><i class="bi bi-tiktok"></i></a>
            <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-light"><i class="bi bi-whatsapp"></i></a>
            <a href="#" class="text-light"><i class="bi bi-facebook"></i></a>
        </div>
      </div>

    </div>
  </div>

  <hr class="border-light">

  <div class="text-center small">
    {{ year|default:2025 }} Kalyzo Shop
  </div>

</footer>
