<footer class="bg-primary text-light pt-5 pb-3 ">

  <div class="container">
    <div class="row">

      <!-- Logo + descripción -->
      <div class="col-md-4 mb-4">
        <h4 class="fw-bold">Kalyzo Shop</h4>
        <p class="small">Una experiencia de compra confiable, con precios justos y envíos a todo el país.      
      </div>

      <!-- Enlaces -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'sobre_nosotros' %}" class="text-light text-decoration-none">Sobre nosotros</a></li>
          <li><a href="{% url 'store_page' %}" class="text-light text-decoration-none">Tienda</a></li>
          <li><a href="{% url 'discounted_products' %}" class="text-light text-decoration-none">Ofertas</a></li>
          <li><a href="{% url 'contacto' %}" class="text-light text-decoration-none">Contacto</a></li>
        </ul>
      </div>

      <!-- Redes sociales -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Síguenos</h5>
        <div class="d-flex gap-3 fs-4">
            <a href="https://www.tiktok.com/@kalyzoshop" class="text-light"><i class="bi bi-tiktok"></i></a>
            <a href="https://www.instagram.com/kalyzotienda/" class="text-light"><i class="bi bi-instagram"></i></a>
            <a href="https://wa.me/573217618510" class="text-light"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>

    </div>
  </div>

  <hr class="border-light">

  <div class="text-center small">
    {{ year|default:2026 }} Kalyzo Shop
  </div>

</footer>
