{% load static %}


<div class="container my-4">
    <div class="bg-primary rounded-3 text-light px-3 px-md-4 pt-3 pb-1">

        <div class="row g-3 align-items-stretch">

            <!-- Texto / CTA -->
            <div class="col-12 col-md-3 px-4 d-flex flex-column justify-content-center align-items-center text-start">
                <div>
                    <h2 class="fw-bold">Destacados del mes</h2>
                    <small class="d-block mb-3">
                        Encuentra los mejores productos seleccionados especialmente para ti.
                    </small>
                </div>

                <div class="justify-content-center align-items-center text-center col-12">
                    <a href="{% url 'all_products' %}" class="mt-2">
                        <button class="btn btn-outline-light fw-bold w-100 btn-animate">
                            <h6>Ver más productos</h6>
                        </button>
                    </a>
                </div>
            </div>

            <!-- Slider -->
            <div class="col-12 col-md-9 position-relative d-flex align-items-center">

                <!-- Botón izquierdo -->
                <button class="slider-btn left" onclick="slideFeatured(-1)">&#10094;</button>

                <div id="featuredSlider" class="featured-slider">
                    {% for producto in featured_products %}
                        <div class="featured-item">
                            {% include 'app_store/componentes/CardDestacado.html' with producto=producto %}
                        </div>
                    {% empty %}
                        <p class="text-light">No hay productos destacados.</p>
                    {% endfor %}
                </div>

                <!-- Botón derecho -->
                <button class="slider-btn right" onclick="slideFeatured(1)">&#10095;</button>

            </div>
            

        </div>
        
        
    </div>
</div>

<style>
    .btn-animate {
    transition: all 0.3s ease;
}

.btn-animate:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.15);
}

</style>

