<!-- PROMEDIO -->
    <div class="mb-4">
        <span class="text-warning fs-6">
            {% with rating=product.avg_rating|default:5 %}
                {% for i in "12345" %}
                    {% if forloop.counter <= rating %}
                        ★
                    {% else %}
                        ☆
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </span>
        <small class="text-muted">
            ({{ product.comments.count }} reseñas · Promedio {{ product.avg_rating }})

        </small>
    </div>