{% load static %}

<div class="offcanvas offcanvas-top" tabindex="-1" id="buscarOffcanvas">

  <!-- HEADER -->
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title d-flex align-items-center">
      <i class="bi bi-search me-2"></i>
      Buscar productos
    </h5>
    <button class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <!-- BODY -->
  <div class="offcanvas-body">

    <!-- BUSCADOR -->
    <form method="GET" action="{% url 'search_products' %}">
      <div class="input-group mb-4">
        <input
          type="text"
          name="q"
          class="form-control"
          placeholder="Buscar productos, categorías..."
        >
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>

    <!-- CATEGORÍAS -->
    <h6 class="text-muted mb-3">Categorías disponibles</h6>

    <div class="search-offcanvas-categories">

  <div class="row g-3">
    {% for categoria in categorias %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 category-col">

            <a href="{% url 'category_products' categoria.slug %}"
               class="category-card text-decoration-none">

                <div class="category-card-inner text-center">

                    {% if categoria.imagen_category %}
                        <img src="{{ categoria.imagen_category.url }}"
                             alt="{{ categoria.name }}"
                             class="category-card-img">
                    {% else %}
                        <img src="{% static 'img/no-image.png' %}"
                             alt="Sin imagen"
                             class="category-card-img">
                    {% endif %}

                    <!-- OVERLAY -->
                    <div class="category-card-overlay"></div>

                    <!-- TEXTO -->
                    <div class="category-card-content">
                        <h6 class="mb-0 fw-bold fs-4">{{ categoria.name }}</h6>

                        {% if categoria.total_products >= 1 %}
                            <h2 class="mb-0">{{ categoria.total_products }}</h2>
                            <small>productos</small>
                        {% endif %}
                    </div>

                </div>
            </a>
        </div>

    {% empty %}
        <p class="text-muted">No hay categorías disponibles.</p>
    {% endfor %}
  </div>

</div>


  </div>
</div>
