/* navbar fixed at top */
.navbar-1 {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030 !important;
}

body {
    padding-top: 70px; /* ajusta seg칰n altura del navbar */
}

/* CSS de variantes seleccion */

.variant-option {
    width: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.variant-option:hover {
    border-color: #0d6efd !important;
    transform: scale(1.05);
}

.variant-option.variant-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.variant-option.variant-disabled:hover {
    border-color: initial !important;
    transform: none;
}



/* Badge AGOTADO */
.badge-agotado {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #dc3545;
    color: #fff;
    padding: 6px 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    z-index: 10;
}


/* Texto de KALYZO */
.no-link-style {
  text-decoration: none;
}

.brand-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffffc0;
  transition: color 0.3s, text-decoration 0.3s;
  padding-left: 25px;
}

.no-link-style:hover .brand-text {
  text-decoration: none;
  color: #ffffff;

}



/* Buscador canva pagina completa */

#buscarOffcanvas {
  height: 100vh !important;
  max-height: 100vh !important;
}



/* Estilo de Cards */
.card{
    cursor: pointer;
}


/* Contenedor de la imagen con altura fija */
.img-container {
    height: 180px; /* Mantener todas las im치genes iguales */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container img {
    object-fit: contain;
    height: 100%;
    width: auto;
}

/* Badge de descuento */
.badge-discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007000;
    color: white;
    padding: 6px 5px;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 5px;
    z-index: 1;
    animation: breathing 2.5s ease-in-out infinite;
}

/* Efecto de respiraci칩n */
@keyframes breathing {
    0% {
        transform: scale(1);
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
    50% {
        transform: scale(1.02);
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
}




/* CARD con altura FIJA TOTAL (evita que se expanda con zoom) */
.product-card {
    display: flex;
    flex-direction: column;
    height: 380px; /* 游댳 Ajusta esta medida a lo que necesites */
    max-height: 580px;
    overflow: hidden; /* Evita expansi칩n hacia abajo */
}

/* Cuerpo del card con medida fija */
.content-area {
    flex: 1;
    height: 200px; /* 游댳 Ajusta seg칰n tu contenido */
    max-height: 180px;
    overflow: hidden;
}

/* Footer con medida fija */
.footer-area {
    height: 60px;
    max-height: 60px;
    overflow: hidden;
}

  
/* Efecto texto animado derecha a izquierda */
.contenedor-del-texto {
  overflow: hidden;       /* Oculta lo que se sale */
  white-space: nowrap;    /* Evita saltos de l칤nea */
  font-weight: bold;        /* Texto en negrita */
}

.texto-animado {
  display: inline-block;
  animation: mover-texto 15s linear infinite;
  font-size: 12px;            /* Texto m치s peque침o */
}

@keyframes mover-texto {
  0% {
    transform: translateX(100vw);   /* Empieza totalmente fuera de la pantalla por la derecha */
  }
  100% {
    transform: translateX(-100%);   /* Sale completamente por la izquierda */
  }
}


/* Ajustar img en carrusel */
.edit_img {
  cursor: pointer;
  width: 100%;
  height: 300px;          /* Ajusta la altura del carrusel */
  object-fit: cover;      /* Recorta sin deformar */
  border-radius: 10px;   /* Bordes redondeados */
}


/* Linea que separa hr */
.hr-separador {
    border-top: 2px solid #ccc; /* Cambia el color y grosor seg칰n tus necesidades */
    margin: 40px 0; /* Espaciado arriba y abajo */
}
