{% extends 'Store_page.html' %}
{% load static %}
{% load moneda %}
{% load math_filters %}

{% block title %} {{ categoria.name }} {% endblock %}

{% block content %}

<!-- Breadcrumb -->
{% include 'app_store/componentes/Breadcrumb.html' %}

<div class="mb-4">

    
    <h3 class="fw-bold mb-4">
        {{ categoria.name }}
    </h3>

    <div class="row">

        {% for producto in productos %}
            {% include 'app_store/componentes/Card.html' with producto=producto %}
        {% empty %}
            <div class="col-12 text-center py-5">
                <p class="text-muted">
                    No hay productos disponibles en esta categoría.
                </p>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
