{% extends 'Store_page.html' %}
{% load static %}
{% load moneda %}
{% load math_filters %}
{% block title %} Productos Oferta {% endblock %}

{% block content %}
<!-- Breadcrumb -->
{% include 'app_store/componentes/Breadcrumb.html' %}

    <h3 class="section-title mb-4">Productos en Oferta</h3>

    <div class="row">
        {% for producto in productos %}
            {% include 'app_store/componentes/Card.html' with producto=producto %}
        {% empty %}
            <p class="text-muted">No hay productos en esta categoría.</p>
        {% endfor %}
    </div>


{% endblock %}


