{% load static %}
{% load moneda %}
{% load breadcrumbs %}
{% load math_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon/kalyzo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <title>Kalyzo | {% block title %} Tienda {% endblock %}</title>
</head>
<body>
    <!-- Texto animado -->
    {% include 'app_store/componentes/Texto_animado.html' %}

    <!-- navbar statico -->
    {% include 'app_store/componentes/Navbar.html' %}

    
    

    <!-- subnavbar -->
    {% include 'app_store/componentes/Subnavbar.html' %}



    <!-- Contenido -->
    <div class="container mt-4">

        {% block content %}
            
            <!-- Carrousel -->
            {% include 'app_store/componentes/Carrousel_uno.html' %}

            <!-- Linea separador -->
            <hr class="hr-separador">
                            <h5 class="section-title mb-3">Categorías</h5>
            <br>

            {% include 'app_store/componentes/Categorys_cards.html' %}

            <!-- Productos destacados -->
            <div class="row">
                {% include 'app_store/componentes/Product_Featured.html' %}
            </div>

            <!-- Linea separador -->
            <hr class="hr-separador">
            
            <!-- Todos los productos -->
                <h5 class="section-title mb-3">Productos</h5><br>

            <br>
            <div class="row">
                {% csrf_token %}
                {% for producto in productos|slice:":8" %}
                    {% include 'app_store/componentes/Card.html' with producto=producto %}
                {% empty %}
                    <p class="text-muted">Aún no hay productos disponibles.</p>
                {% endfor %}
            </div>
            <div class="text-center mt-0" >
                <a href="/productos" class="btn bg-primary text-light fw-bold w-100 btn-animate">Ver más</a>
            </div>

            <!-- Linea separador -->
            <hr class="hr-separador">

            {% include 'app_store/componentes/Quienes_somos.html' %}
            
            <hr class="hr-separador">

            <h5 class="section-title mb-3">Nuestros Aliados</h5><br>
            {% include 'app_store/componentes/Aliados_logisticos.html' %}

            <hr class="hr-separador">

            {% include 'app_store/componentes/Beneficios_compras.html' %}




        {% endblock %}
    </div>

    
    <!-- Botón de WhatsApp -->
    {% include 'app_store/componentes/Boton_whatsapp.html' %}

    <!-- Footer -->
    {% include 'app_store/componentes/Footer.html' %}


</body>
</html>

<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script defer src="{% static 'js/product_visual.js' %}"></script>
<script defer src="{% static 'js/rating_star.js' %}"></script>
<script defer src="{% static 'js/variante_product.js' %}"></script>
<script defer src="{% static 'js/ver_mas_comentarios.js' %}"></script>
<script defer src="{% static 'js/product_featured.js' %}"></script>
<script defer src="{% static 'js/cart.js' %}"></script>
<script defer src="{% static 'js/sticky_scroll_sync.js' %}"></script>
